name: CI

on:
  push:
    branches: ["main"]
  pull_request:

env:
  CARGO_TARGET_DIR: ~/.cargo-target
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy, rustfmt

      - name: Cargo test
        run: cargo test

      - name: Cargo clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

      - name: Cargo fmt
        run: cargo fmt --all -- --check
